<div class="title">
    <h1>Ver Mascota</h1>
</div>
<div class="container">
    <mat-card class="card">
        <mat-card-title>Bartolo</mat-card-title>
        <mat-card-content>
            <p><strong>Raza:</strong> Caniche</p>
            <p><strong>color:</strong> Blanco</p>
            <p><strong>Peso:</strong> 10</p>
            <p><strong>Edad:</strong> 6</p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/listadoMascotas" mat-raised-button>Basic</button>
        </mat-card-actions>
    </mat-card>
</div>
